*{
    border: 0%;
    margin: 0%;
    box-sizing: border-box;
}




.container{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 150px;
    width: 300px;
    margin: 250px auto;
    border-radius: 10px;
    border: 1px solid;
}

.btn{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;

}